.bg-primary{
    background-color: #5257f2;
}

.bg-secondry{
    background-color: #F65335;
}

.bg-voilet{
    background-color:#EE8FFA;
}


.heading-1{
    font-size: 40px;
}


.heading-2{
    font-size: 25px;
}